<nav class="sidebar sidebar-offcanvas" id="sidebar">
<ul class="nav">
<li class="nav-item nav-profile">
<div class="nav-link">
<div class="profile-image"> <img src="images/faces/facetran.jpg" alt="image"/> <span class="online-status online"></span> </div>
<div class="profile-name">
<p class="name">Admin</p>
<p class="designation">Manager</p>
<div class="badge <%= stopmua ? "badge-danger" : "badge-success" %> mx-auto mt-3" id='stopmua'>Auto Buy</div>
</div>
</div>
</li>
<% for(var i in primaryCoin){ %>
<% var coin = primaryCoin[i]; %>
<li class="nav-item m-3">
<span class="menu-title"><%= coin %>: <span class="value_coin" data-coin="<%= coin %>"><%= round(myBalances[coin].available,8) %></span>
<span class="badge stopmuacoin <%= global['stopmua'+coin] ? "badge-danger" : "badge-success" %>" data-coin="<%= coin %>">Auto Buy</span></span>
</li>
<% } %>
</ul>
</nav>