<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Trade Coin Tool</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="../others/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../others/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="../others/fancybox/jquery.fancybox.css">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="../css/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="../images/favicon.png" />
    </head>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <% include ../views/partials/navbar %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_sidebar.html -->
                <% include ../views/partials/sidebar %>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <h5 class="col-9 card-title">Coin đã mua</h5>
                                            <div class="col-3">
                                                <input type="email" class="form-control search" placeholder="Search">
                                            </div>
                                        </div>


                                        <div class="fluid-container" id="tickets">
                                            <div class="row">
                                                <% for(market in marketBuy) { %>
                                                <% var self = markets[market].chienluoc1; %> 
                                                <% var i_1h = markets[market].indicator_1h; %>
                                                <% var i_5m = markets[market].indicator_5m; %>
                                                <% var pattern_1h = i_1h.pattern.pattern; %>
                                                <% var probability_1h = Math.round(i_1h.pattern.probability); %>
                                                <% var pattern_5m = i_5m.pattern.pattern; %>
                                                <% var probability_5m = Math.round(i_5m.pattern.probability); %>
                                                <% var count_buy_1h = i_1h.count_buy; %>
                                                <% var count_sell_1h = i_1h.count_sell; %>
                                                <% var count_buy_5m = i_5m.count_buy; %>
                                                <% var count_sell_5m = i_5m.count_sell; %>
                                                <% var price_buy = self.priceBuyAvg; %>
                                                <% var percent = (markets[market].last - price_buy) / price_buy * 100; %>
                                                <% var classess = ''; %>
                                                <% if(percent > 0){ %> 
                                                <% classess = 'text-success'; %> 
                                                <% }else{ %> 
                                                <% classess = 'text-danger'; %> 
                                                <% } %> 
                                                <div class='col-4 ticket-card mt-3 pb-2 border-bottom'>
                                                    <div class="col-12">
                                                        <a class="fancybox" data-toggle="modal" data-target="#myModal"  href='#' data='<%= market %>'><%= market %></a>
                                                    </div>
                                                    <div class="ticket-details col-10">
                                                        <div class="d-flex">
                                                            <p>Current price: <%= markets[market].last %><span class="<%= classess %>">(<%= percent.toFixed(2) %>%)</span></p>
                                                        </div>
                                                        <div class="d-flex">
                                                            <p>Price Buy: <%= price_buy %><span class="<%= classess %>">(<%= percent.toFixed(2) %>%)</span></p>
                                                        </div>
                                                        <div class="row text-muted d-flex">
                                                            <div class="col-12 d-flex">
                                                                <p class="mb-0 mr-2">1h:</p>
                                                                <p class="mr-2 mb-0 text-primary"><%= pattern_1h %>(<%= probability_1h %>)</p>
                                                                <p class="mr-2 mb-0 text-danger"><%= count_sell_1h %></p>
                                                                <p class="mr-2 mb-0 text-success"><%= count_buy_1h %></p> 
                                                            </div>
                                                            <div class="col-12 d-flex">
                                                                <p class="mb-0 mr-2">5m:</p>
                                                                <p class="mr-2 mb-0 text-primary"><%= pattern_5m %>(<%= probability_5m %>)</p>
                                                                <p class="mr-2 mb-0 text-danger"><%= count_sell_5m %></p>
                                                                <p class="mr-2 mb-0 text-success"><%= count_buy_5m %></p> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <h5 class="col-9 card-title">Coin Tiềm Năng</h5>
                                            <div class="col-3">
                                                <input type="email" class="form-control search" placeholder="Search">
                                            </div>
                                        </div>

                                        <div class="fluid-container" id="volumn">
                                            <div class="row">
                                                <% for(market in marketGood) { %>
                                                <% var self = markets[market].chienluoc1; %> 
                                                <% var i_1h = markets[market].indicator_1h; %>
                                                <% var i_5m = markets[market].indicator_5m; %>
                                                <% var pattern_1h = i_1h.pattern.pattern; %>
                                                <% var probability_1h = Math.round(i_1h.pattern.probability); %>
                                                <% var pattern_5m = i_5m.pattern.pattern; %>
                                                <% var probability_5m = Math.round(i_5m.pattern.probability); %>
                                                <% var count_buy_1h = i_1h.count_buy; %>
                                                <% var count_sell_1h = i_1h.count_sell; %>
                                                <% var count_buy_5m = i_5m.count_buy; %>
                                                <% var count_sell_5m = i_5m.count_sell; %>
                                                <% var classess = ''; %>
                                                <div class='col-4 ticket-card mt-3 pb-2 border-bottom'>
                                                    <div class="col-12">
                                                        <a class="fancybox" data-toggle="modal" data-target="#myModal" href='#' data='<%= market %>'><%= market %></a>
                                                    </div>
                                                    <div class="ticket-details col-10">
                                                        <div class="d-flex">
                                                            <p>Current price: <%= markets[market].last %></p>
                                                        </div>
                                                        <div class="row text-muted d-flex">
                                                            <div class="col-12 d-flex">
                                                                <p class="mb-0 mr-2">1h:</p>
                                                                <p class="mr-2 mb-0 text-primary"><%= pattern_1h %>(<%= probability_1h %>)</p>
                                                                <p class="mr-2 mb-0 text-danger"><%= count_sell_1h %></p>
                                                                <p class="mr-2 mb-0 text-success"><%= count_buy_1h %></p> 
                                                            </div>
                                                            <div class="col-12 d-flex">
                                                                <p class="mb-0 mr-2">5m:</p>
                                                                <p class="mr-2 mb-0 text-primary"><%= pattern_5m %>(<%= probability_5m %>)</p>
                                                                <p class="mr-2 mb-0 text-danger"><%= count_sell_5m %></p>
                                                                <p class="mr-2 mb-0 text-success"><%= count_buy_5m %></p> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <% include ../views/partials/footer %>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <div id='myModal' class='modal fade'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body" id="tradingview">

                    </div>
                </div>
            </div>
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="../others/jquery/dist/jquery.min.js"></script>
        <script src="../others/popper.js/dist/umd/popper.min.js"></script>
        <script src="../others/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../others/fancybox/jquery.fancybox.min.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="../js/off-canvas.js"></script>
        <script src="../js/color-hash.js"></script>
        <script src="../js/misc.js"></script>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

        <script type='text/javascript'>
            $(document).ready(function () {
                $(".fancybox").click(function (e) {
                    e.preventDefault();
                    var symbol = $(this).attr("data");
                    new TradingView.widget(
                            {
                                "width": 1024,
                                "height": 550,
                                "symbol": "BINANCE:" + symbol,
                                "interval": "60",
                                "timezone": "Asia/Bangkok",
                                "theme": "Dark",
                                "style": "1",
                                "locale": "vi_VN",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "hide_side_toolbar":false,
                                "studies": [
                                    "BB@tv-basicstudies",
                                    "RSI@tv-basicstudies",
                                    "MACD@tv-basicstudies"
                                ],
                                "allow_symbol_change": true,
                                "container_id": "tradingview"
                            }
                    );
                });
                $(".search").keyup(function () {
                    var search = $(this).val().toUpperCase();
                    var parents = $(this).parents(".card");
                    if (search == '') {
                        $(".ticket-card", parents).show();
                        return
                    }
                    $(".ticket-card", parents).hide();
                    $(".ticket-card", parents).each(function () {
                        var text = $(this).text().toUpperCase();
                        console.log(text);
                        if (text.indexOf(search) != -1) {
                            $(this).show();
                        }
                    })
                });
            });
        </script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <!-- End custom js for this page-->
    </body>

</html>
